{% extends 'base.html.twig' %}


{% block body %}
    <div class="container my-5">
        <h1>Espace privé membre</h1>
        <a href="{{ path('app_logout') }}">Me déconnecter</a>
        <br/>
        <a href="{{ path('app_logout') }}">Modifier mon mot de passe</a>
    </div>
{% endblock %}
